.App {
  background-color: #11121b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* --- HEADER --- */

.App-header {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-content: center;
  max-height: 170px;
  min-width: 30px;
}

/* --- BODY --- */

.App-body {
  margin-bottom: 40px;
}

/* Logos */

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 30px;
}

.App-logo-converter {
  max-height: 100px;
  margin: 0 20px 0 0;
  display: inline-block;
  text-align: center;
}

/* Form */

.App-form {
  background-color: #727380;
  padding: 30px 20px;
}

/* --- FOOTER --- */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

/* Result */

.App-result {
  background-color: #306437;
  width: 100vw;
  height: 70px;
  transition: all 1s;
  padding: 20px 0;
  font-size: 30px;
  color: #87ac8d;
  text-align: center;
  box-shadow: 5px 0 0 rgba(0,0,0,0.3);
}

.App-result strong {
  font-size: 40px;
  color: #b8ccbb;
}

.App-result.slide-up {
  animation: slide-up 0.5s ease-out forwards;
}
.App-result.slide-down {
  animation: slide-down 0.5s ease-out forwards;
}

/* --- UIKit Custom --- */

.uk-form-label {
  color: #d8ddd9;
}

/* --- ANIMATIONS --- */

@keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}
